root = true

[*]

# 缩进使用空格
indent_style = space
# indent_style = tab

# 缩进为 space 时，缩进的字符数
indent_size = 4
# 缩进为 tab 时，缩进的宽度
# tab_width = 2

# 行的结尾
end_of_line = crlf
# end_of_line = cr
# end_of_line = lf

# 字符集
charset = utf-8

# 是否将行尾空格自动删除
trim_trailing_whitespace = true

# 文件末尾添加一个新行
insert_final_newline = false